<template>
	<gl-filtered-search-token
		v-bind="{ ...this.$props, ...this.$attrs }"
		v-on="$listeners"
	>
		<template #view-token="{ inputValue, cssClasses, listeners }">
			<gl-token variant="search-value" :class="cssClasses" :style="containerStyle" v-on="listeners">
				{{ activeLabel ? activeLabel.title : inputValue }}
			</gl-token>
		</template>
	</gl-filtered-search-token>
</template>
<script>

export default {
	name: 'DateTimeToken',
	props: ['value', 'active'],
	inheritAttrs: false,
	data() {
		return {
			activeLabel: null,
		};
	},
	computed: {
		currentValue() {
			return this.value.data.toLowerCase()
		},
		containerStyle() {
			return {}
		},
	},
	beforeUpdate() {
		if (!this.active) return this._reset()
		if (!(this.value && this.value.operator)) return this._reset()
	},
	updated() {
		if (!this.active) return this._reset()
		const inputs = this.$parent.$el.querySelectorAll('input.gl-filtered-search-token-segment-input')
		const ip = Array.from(inputs).find(e => 'text' === e.type || !e.type)
		if (!(ip && this.value && this.value.operator)) return
		if (this._el_ref && this._el_ref.ip === ip) return
		if (!ip.parentNode) return
		this._reset()
		const dt = document.createElement('input')
		dt.classList.add('gl-filtered-search-token-segment-input')
		dt.type = 'datetime-local'
		dt.value = ip.value
		dt.setAttribute('step', '1')
		dt.setAttribute('placeholder', '例）2020-11-09T00:00:00')
		ip.parentNode.insertBefore(dt, ip)
		this._el_ref = { ip, dt, display: ip.style.display }
		ip.setAttribute('data-js-stop', 'true')
		ip.style.display = 'none'
		dt.focus()
		dt.addEventListener('change', () => {
			ip.value = dt.value
			ip.dispatchEvent(new CustomEvent('input', { bubbles: true }))
		})
		dt.addEventListener('blur', () => {
			this._reset()
			ip.dispatchEvent(new FocusEvent('blur', { bubbles: true }))
		})
		dt.addEventListener('keydown', e => {
			switch (e.key) {
				case 'Escape':
					e.preventDefault()
					e.stopPropagation()
					ip.dispatchEvent(new KeyboardEvent('keydown', { key: 'Backspace' }))
					break
				case 'Tab':
					e.preventDefault()
					e.stopPropagation()
				case ' ':
				case 'Enter':
					ip.value = dt.value + ' '
					ip.dispatchEvent(new CustomEvent('input', { bubbles: true }))
					break
			}
		})
	},
	beforeDestroy() {
		this._reset()
	},
	methods: {
		_focus() {
			if (this._el_ref && this._el_ref_prev !== this._el_ref.ip) {
				this._el_ref_prev = this._el_ref.ip
				this._el_ref.ip.focus()
			}
		},
		_reset() {
			if (this._el_ref) {
				const { ip, dt, display } = this._el_ref
				this._el_ref = null
				try {
					dt.parentNode.removeChild(dt)
				} catch (x) {
					console.error(x)
				}
				try {
					ip.removeAttribute('data-js-stop')
				} catch (x) {
					console.error(x)
				}
				ip.style.display = display
			}
		}
	}
}
</script>
