<template>
	<gl-filtered-search-token
		v-bind="{ ...this.$props, ...this.$attrs }"
		v-on="$listeners"
	>
		<template #view-token="{ inputValue, cssClasses, listeners }">
			<gl-token variant="search-value" :class="cssClasses" :style="containerStyle" v-on="listeners">
				{{ activeLabel ? activeLabel.title : inputValue }}
			</gl-token>
		</template>
		<template #suggestions>
			<gl-filtered-search-suggestion value="None">None</gl-filtered-search-suggestion>
			<gl-filtered-search-suggestion value="Any">Any</gl-filtered-search-suggestion>
			<gl-dropdown-divider v-if="loadingSuggestions || labels.length"></gl-dropdown-divider>
			<template v-if="loadingSuggestions">
				<gl-loading-icon/>
			</template>
			<template v-else>
				<gl-filtered-search-suggestion :key="label.id" v-for="label in labels" :value="label.title">
					<div class="d-flex">
						<span
							:style="{ backgroundColor: label.color, height: '16px', width: '16px' }"
							class="d-inline-block mr-2"
						></span>
						{{ label.title }}
					</div>
				</gl-filtered-search-suggestion>
			</template>
		</template>
	</gl-filtered-search-token>
</template>
<script>

const fakeLabels = [
  { id: 1, title: 'Bug', value: 'Bug', color: '#D9534F', text_color: '#FFFFFF' },
  { id: 2, title: 'Enhancement', value: 'Enhancement', color: '#F0AD4E', text_color: '#FFFFFF' },
  { id: 3, title: 'Backlog', value: 'Backlog', color: '#cccccc', text_color: '#333333' },
  { id: 4, title: 'Feature', value: 'Feature', color: '#A8D695', text_color: '#333333' },
  { id: 5, title: 'Documentation', value: 'Documentation', color: '#5CB85C', text_color: '#FFFFFF' },
];

export default {
	name: 'LabelToken',
	props: ['value', 'active'],
	inheritAttrs: false,
	data() {
		return {
			loadingView: false,
			loadingSuggestions: false,
			labels: [],
			activeLabel: null,
		};
	},
	computed: {
		currentValue() {
			return this.value.data.toLowerCase();
		},
		containerStyle() {
			if (this.activeLabel) {
				const { color, text_color } = this.activeLabel;

				return { backgroundColor: color, color: text_color };
			}
			return {};
		},
	},
	methods: {
		loadView() {
			this.loadingView = true;
			setTimeout(() => {
				this.loadingView = false;
				this.activeLabel = fakeLabels.find(l => l.title === this.value.data);
			}, 100);
		},
		loadSuggestions() {
			this.loadingSuggestions = true;
			setTimeout(() => {
				this.loadingSuggestions = false;
				this.labels = fakeLabels.slice();
			}, 2000);
		},
	},
	watch: {
		// eslint-disable-next-line func-names
		'value.data': function() {
			if (this.active) {
				this.loadSuggestions();
			}
		},
		active: {
			immediate: true,
			handler(newValue) {
				if (!newValue) {
					this.loadView();
				} else {
					this.loadSuggestions();
				}
			},
		},
	},
}
</script>
